<form action="#"
      th:action="@{/banks/update/{id}(id=${bank.id})}"
      th:object="${bank}"
      method="post" xmlns:th="http://www.w3.org/1999/xhtml">

    <label for="client">Client email: </label>
    <select id="client" name="client" class="form-control">
        <option th:each="client : ${clients}"
                th:value="${client.id}"
                th:text="${client.email}"
                th:selected="${bank.clients == client}"></option>
    </select>

    <label for="credit">Credit percent: </label>
    <select id="credit" name="credit" class="form-control">
        <option th:each="credit : ${credits}"
                th:value="${credit.id}"
                th:text="${credit.percent}"
                th:selected="${bank.credits == credit}"></option>
    </select>

    <input type="submit" value="Update Bank">
</form>